# WARNING: this file IS in git history. Don't commit sensitive details here.

@neverendingsupport:registry=https://registry.nes.herodevs.com/npm/pkg/
# //registry.nes.herodevs.com/npm/pkg/:_authToken=${NES_ACCESS_TOKEN}